@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #fff;
}

.scroll::-webkit-scrollbar {
  width: 0.3rem;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.loader {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

.loader__input {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #34db58;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
